/* ----------------------------
 *
 * Your very own modification
 *
 * --------------------------- */
.your_own_class {
  color: red;
}

html {
    
}

html body {
    background-color: #E5E5E5;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    padding: 20px;
    
}

html body #root {
    background-color: #FFFFFF;
    border: 1px solid #c0c0c0;
    padding: 20px;
    min-height: calc( 100vh - 40px );
    overflow-y: scroll;
}

body nav.app-menu {
    display: block;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 10px;
}

body nav.app-menu .main-menu li {
    list-style: none;
    display: initial;
    padding: 0 1em;
    text-transform: uppercase;
}

body nav.app-menu ul.main-menu {padding: 0px;}

body nav.app-menu ul.main-menu li:first-child {padding-left: 0px}

body nav.app-menu ul.main-menu li:last-child {padding-right: 0px}

body .diagram-site .diagram-tabs ul.nav.nav-tabs {
    background-color: inherit;
}

body .diagram-site .diagram-tabs .tab-content {
    border: 1px solid #DDDDDD;
    border-top: none;
    padding: 20px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

.board-type-list {
    box-sizing: border-box;
    border-spacing: 10px 0;
    display: table;
    list-style: none;
    margin: 0;
    table-layout: fixed;
    width: 100%;
    padding: 0;
}
.board-culumn-type {
    border: none;
    border-right: 2px solid #44FF44;
    display: table-cell;
    margin: 0px;
    padding-right: 10px;
    height: 100%;
}
.board-culumn-type:last-child {
    border-right: none;
    padding-right: 0px
}

.list-type-title {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
    text-align-last: center;
}

.board-culumn-type .task-component {
	position: relative;
	padding:10px;
}

.board-culumn-type .task-component .details-toggler {
	position: absolute;
	top:10px;
	right:10px;
    cursor: pointer
}

.board-culumn-type .task-component .task-title {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    text-decoration: underline;

}

.board-culumn-type .task-component .task-preloader {
	position: absolute;
	opacity: 0.5;
	background-color: #c0c0c0;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}

.board-culumn-type .task-component .task-preloader { display: block; transition: 2s; webkit-transition: 2s; }
.board-culumn-type .task-component.ready .task-preloader { display: none; transition: 2s; webkit-transition: 2s; }

.detail-section {
	border-top: 1px dashed #a0a0a0;
	margin-top: 10px;
	padding-top:10px;
}
